%html
  %head
    %link{:rel => "stylesheet", :type => "text/css",  |
          :href => "cv_style.css"}                    |
  %body
    %header
      #name Qingping "Dave" Hou
      #info_right
        %p github.com/houqp
        %p about.houqp.me
      #info_left
        %p 412-370-6122
        %p qingping.hou@gmail.com

    %section#education
      %h1 Education
      %ul
        %li
          .entry
            %p <b>M.S.</b> in Information Security Technology and Management, Information Networking Institute, Carnegie Mellon University.
            %p GPA: 4.0/4.0
          .time
            09.2012 - 05.2014
            %p.center (Expected)
        %li
          .entry
            %p <b>B.S.</b> in Information and Computational Science, School of Mathematics and Computational Science, Sun Yat-sen University.
          .time 09.2008 - 07.2012

    %section#skills
      %h1 Skill
      %ul
        %li
          .entry
            %p <b>Proficient</b>: C, Python, Lua, Javascript, HTML/CSS, PHP, Shell, Assembly
        %li
          .entry
            %p <b>Exposure to</b>: C++, Ruby, Java

    %section#projects
      %h1 Selected Projects
      %ul
        %li
          .entry
            %p <b>KPV</b> (Maintainer)
            %p This project includes a UI framework that specially designed for EInk display and a multi-formats Ebook reader built upon that.
        %li
          .entry
            %p <b>PyH3C</b> (Author)
            %p An opensource H3C 802.1X client and server written in Python. Reverse engineered from the official proprietary client.
        %li
          .entry
            %p <b>asciidoc-deckjs</b> (Author)
            %p deck.js backend for AsciiDoc.

    %section#experience
      %h1 Experience
      %ul
        %li
          .entry
            %p <b>Linux Programmer</b> for Mellon College of Science (CMU).
          .time
            09.2012 - Present
        %li
          .entry
            %p <b>Research Assistant</b> in Guangdong Key Laboratory of Information Security Technology.
          .time
            07.2010 - 07.2012
        %li
          .entry
            %p <b>Teaching Assistant</b>, "Modern Website Security Technology" (Google Open Course), Sun Yat-sen University.
          .time
            07.2011 - 08.2011

    %section#activities
      %h1 Extracurricular Activities
      %ul
        %li
          .entry
            %p Organized five events for local <b>LUG</b> as a volunteer, including Software Freedom Day, Ubuntu Release Party, etc.
          .time 01.2011 - 11.2011
        %li
          .entry
            %p Helped translate the official documents for Puppet project. My work focused on the core part, Language Guide.
          .time 03.2010 - 04.2010

    %section#honors
      %h1 Honors
      %ul
        %li
          .entry 
            %p Outstanding team in the third Google public welfare creativity competition.
          .time 05.2010
        %li
          .entry
            %p Outstanding student scholarship of Sun Yat-sen University.
          .time 11.2009 - 11.2010

    %section#affiliations
      %h1 Membership
      %ul
        %li
          .entry
            %p Plaid Parliament of Pwning (CMU hacking team).
          .time 09.2012 - Present
        %li
          .entry
            %p Guangdong Key Laboratory of Information Security Technology, Research Assistant.
          .time 07.2010 - 07.2012
        %li
          .entry
            %p Network center of Sun Yat-sen University, Student Network Administrator.
          .time 10.2008 - 09.2011

    %section#interests
      %h1 Interests
      %ul
        %li
          .entry
            %p Coding, GNU/Linux, free-software and opensource.
        %li
          .entry
            %p Painting, Playing guitar and magic tricks.
        %li
          .entry
            %p Taichi (Yang style), Soccer (freestyle), Travel and Hiking
